.container-1{
  display: flex;
  align-items: center;
justify-content: space-around;
padding-top: 15px;
}
.container-1 img{
  height: 74px;
  width:74px;
  border-radius: 50%;
}
.doctor-cards{
  margin-top: 5px;
  border-radius: 7px;
   box-shadow: 0 2px 4px -2px #DEDEDE;
background-color: white;
}
.container-1 h1{
  line-height: 1.1rem;
  font-size: 18px;
  color: #40484F;
  font-family: 'Roboto';
  font-weight: 500;
}

.details p{
  color: #8C8C8C;
  font-size: 13px;
  line-height: 0.5rem;
  font-family: 'Roboto';
  font-weight: 400;
}
.price h2{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 21px;
  color: #40484F;

}
.price{
  margin-bottom: -15px;
  align-self: flex-end;
}
.hr{
  height: 1.3px;
  width: 100%;
  background-color: #EFEFEF;
  margin-top: 9.5px;
}
.container-2{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 10px;
}
.container-2 h2{
  color: #D83345;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
@media(min-width:525px){
  .container-1{
  padding-top: 15px;
  }
  .container-1 img{
    height: 90px;
    width:90px;
  }
  .doctor-cards{
    margin-top: 20px;
  }
  .container-1 h1{
    line-height: 1.2rem;
    font-size: 22px;
  }

  .details p{
    font-size: 16px;
    line-height: 0.7rem;
  }
  .price h2{
    font-size: 26px;
  }
  .container-2{
    margin-left: 25px;
  }
  .container-2 h2{
    font-size: 14px;
  }



}
@media(min-width:625px){
  .container-1{
  padding-top: 18px;
  }
  .container-1 img{
    height: 100px;
    width:100px;
  }
  .doctor-cards{
    margin-top: 20px;
  }
  .container-1 h1{
    line-height: 1.4rem;
    font-size: 25px;
  }

  .details p{
    font-size: 19px;
    line-height: 0.9rem;
  }
  .price h2{
    font-size: 29px;
  }
  .container-2{
    margin-left: 30px;
  }
  .container-2 h2{
    font-size: 18px;
  }



}
@media(min-width:800px){
  .container-1{
  padding-top: 20px;
  }
  .container-1 img{
    height: 110px;
    width:110px;
  }
  .doctor-cards{
    margin-top: 23px;
  }
  .container-1 h1{
    line-height: 1.6rem;
    font-size: 27px;
  }

  .details p{
    font-size: 22px;
    line-height: 1rem;
  }
  .price h2{
    font-size: 32px;
  }
  .container-2{
    margin-left: 40px;
  }
  .container-2 h2{
    font-size: 20px;
  }



}
@media(min-width:1050px){
  .container-1{
  padding-top: 23px;
  }
  .container-1 img{
    height: 120px;
    width:120px;
  }
  .doctor-cards{
    margin-top: 26px;
  }
  .container-1 h1{
    line-height: 1.8rem;
    font-size: 29px;
  }

  .details p{
    font-size: 25px;
    line-height: 1.2rem;
  }
  .price h2{
    font-size: 34px;
  }
  .container-2{
    margin-left: 135px;
  }
  .container-2 h2{
    font-size: 23px;
    margin-left: 160px;
  }



}
